<?xml version="1.0"?>
<launch>
  <arg name="log_type" default="screen"/>

  <!-- robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ur3_man_description)/urdf/ur3_man_robot.urdf.xacro" />

  <!-- pan tilt -->
  <node name="pan_tilt_driver_node" pkg="pan_tilt_driver" type="PanTiltDriverNode" output="$(arg log_type)">
    <param name="port_name" value="/dev/pan_tilt"/>
    <param name="yaw_joint_name" value="pan_tilt_yaw_joint"/>
    <param name="pitch_joint_name" value="pan_tilt_pitch_joint"/>
  </node>

  <!-- kinect -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
    <arg name="publish_tf" value="true" />
  </include>

  <!-- left arm -->
  <node name="left_arm_ur_driver" pkg="ur_modern_driver" type="ur_driver" output="$(arg log_type)">
    <param name="prefix" type="str" value="left_arm_" />
    <param name="robot_ip_address" type="str" value="192.168.0.154" />
    <param name="base_frame" type="str" value="left_arm_base"/>
    <param name="tool_frame" type="str" value="left_arm_tool0_controller"/>
  </node>

  <!-- right arm -->
  <node name="right_arm_ur_driver" pkg="ur_modern_driver" type="ur_driver" output="$(arg log_type)">
    <param name="prefix" type="str" value="right_arm_" />
    <param name="robot_ip_address" type="str" value="192.168.0.155" />
    <param name="base_frame" type="str" value="right_arm_base"/>
    <param name="tool_frame" type="str" value="right_arm_tool0_controller"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg log_type)">
    <param name="publish_frequency" type="double" value="30" />
  </node>
</launch>